.container {
    width: 700px;
    height: 600px;

    mat-radio-button {
        margin: 0 10px;
    }

    label {
        width: 300px;
    }

    .form-control {
        margin: 25px 0;
        height: 100%;

        .size {
            width: 300px;
            height: 50px;
            resize: none;
        }
    }

    button {
        width: 150px;
        background-color: rgb(183, 7, 7);
        color: white;
    }
}

@media screen and (max-width: 600px) {

    .container {
        width: 100%;
    }
}